{{ partial "header.html" . }}
<div class="main post non-narrow zero-top-spacing column">
    <div class="container">
        <div class="content">
            <div class="front-matter">
                <div class="title-container">
                        <div class="page-heading">
                        {{ if .Params.heading }}
                            {{ .Params.heading }}
                        {{ else }}
                            {{ if .Params.draft }}
                            Draft::{{ .Title }}
                            {{ else }}
                            {{ .Title }}
                            {{ end }}
                        {{ end }}
                        </div>
                </div>

                <div class="meta">
                    <div class="date">{{ .Date.Format "Jan 2, 2006" }}</div>
                    <div class="reading-time middot">{{ .ReadingTime }} minute read</div>
                </div>
            </div>
            <div class="markdown">
                {{ .Content }}
            </div>
            {{ if .Params.useDisqus }}
                    <br>
                    <div class="disqus">
                        {{ template "_internal/disqus.html" . }}
                    </div>
            {{ end }}
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
